# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Ultralytics
runs/
*.pt


# Data
test_data/
*.mov
*.mp4
*.avi

# OS
.DS_Store
Thumbs.db

# Logs
*.log